<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
			<!--the scriptProcessor value is just copied from command output of "wfastcgi-enable"-->
           <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule"
		    scriptProcessor="c:\python\python.exe|c:\python\lib\site-packages\wfastcgi.py"
			resourceType="Unspecified" requireAccess="Script" />
        </handlers>
		<security> 
			<requestFiltering allowDoubleEscaping="true"></requestFiltering> 
		</security>
		<!-- it is used to print detailed message for debugging. when in production, pls change it to DetailedLocalOnly or Custom-->
		<httpErrors errorMode="Detailed">
		</httpErrors>
    </system.webServer>
	<appSettings>
		<!-- Required settings -->
		<!-- app.application: it means the app instance that wsgi requires is located at app.py and its name is "aplication"-->
		<add key="WSGI_HANDLER" value="app.application" />
		<add key="PYTHONPATH" value="~/" />
	</appSettings>
</configuration>